body {
  text-align: center;
}

.images {
  height: 200px;
  width: 200px;
  border-style: none;
  border-radius: 300px;
  cursor: grab;
}

.button {
  height: 200px;
  width: 200px;
  border-radius: 300px;
  margin-right: 20px;
}
